.App {
  display: flex;
}

.title {
  display: flex;
  height: 50px;
  width: 2000px;
  background-color: royalblue;
  color: white;
}

.container {
  position: absolute;
  width: 700px;
  height: 50px;
  margin: 50px;
  padding: 0px;
  /* background-color: gray; */
}

.row {
  position: absolute;
  height: 50px;
  width: 700px;
  /* background-color: green; */
}

.col-5 {
  display: flex;
  justify-content: space-between;
  height: 2000px;
  width: 600px;
}

.list-groupe {
  display: flex;
  align-items: center;
}

.list-cadre {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-direction: row;
  border: solid 0.5px black;
  height: 50px;
  width: 400px;
}

.list-img {
  display: flex;
  margin: 5px;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.list-name {
  display: flex;
  color: black;
  height: 1000px;
}

.col-7 {
  height: 250px;
  width: 300px;
  margin: 50px;
  padding: 50px;
  /* background-color: yellow; */
}
